@font-face {
    font-family: 'Actor';
    src: url(./fontes/actor/Actor-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'League Gothic';
    src: url(./fontes/leagueGothic/LeagueGothic-Regular-VariableFont_wdth.ttf) format(truetype);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fontes/montserrat/static/Montserrat-Black.ttf) format(truetype);
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
html{
    background-color: #E6E6E6;
}
header > .container{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
header > .container > .containerFormas {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
header > .container > .containerFormas > .branco{
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
    background-color: #F4F4F4;
    width: 150px;
    height: 106px;
    z-index: 2;
    display: flex;
    align-items: center;
}
header > .container > .containerFormas > .branco > picture > img{
    width: 100px;
    height: 83px;
    margin-left: 7px;
}
header > .container > .containerFormas > .azul{
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    background-color: #101520;
    width: 280px;
    height: 105px;
    z-index: 1;
    margin-left: -60px;
}
header > .container > .containerFormas > .vermelho{
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    width: 100px;
    height: 105px;
    background-color: #A91C08;
    margin-left: -42px;
}
header > .container > .containerItens{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}
#botaoHamburguer{
    display: none;
}
#botaoHamburguer > .picture > img{
    width: 52px;
    height: 45px;
}
header > .container > .containerItens > .itens{
    display: flex;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header > .container > .containerItens > .itens > li > a > h2{
    color: #454548;
    font-family: 'Actor', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.1s;
}
header > .container > .containerItens > .itens > li > a > h2:hover,
header > .container > .containerItens > .itens > li > a > h2:active{
    transform: scale(1.05);
    color: black;
}
header > .container > a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
header > .container > a > h1{
    color: #DFD9D9;
    background-color: #A91C08;
    text-align: center;
    font-family: 'Actor', sans-serif;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 65px;
    transition: 0.5s;
}
header > .container > a > h1:hover,
header > .container > a > h1:active{
    transform: scale(1.05);
    color: white;
    border-radius: 10px;
    background-color: #101520;
}
footer > .container{
    margin-top: 40px;
}
footer > .container > .parteCima{
    display: flex;
}
#linhaAzul{
    border: none;
    width: 55vw;
    height: 10px;
    background-color: #081331;
    margin: 0;
}
#linhaVermelha{
    border: 0;
    width: 45vw;
    height: 10px;
    background-color: #A91C08;
    margin: 0;
}
footer > .container > .parteBaixo{
    background-color: #081331;
    display: flex;
}
footer > .container > .parteBaixo > .parteEsquerda{
    width: 55vw;
    display: flex;
    background-color: #D7D9DD;
    clip-path: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
    padding: 20px 0 20px 0px;
    align-items: center;
    column-gap: 20px;
}
#logoCozifrio > img{
    margin-left: 30px;
    width: 166px;
    height: 134px;
}
#mindArtCreative > img{
    width: 156px;
    height: 133px;
}
#mindArtWeb > img{
    width: 156px;
    height: 114px;
}
footer > .container > .parteBaixo > .parteDireita{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-top: 30px;
    width: 45vw;
}
footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
    width: 20px;
    height: 20px;
}
footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
    color: #D7D9DD;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
footer > .container > .parteBaixo > .parteDireita > h2{
    color: #D7D9DD;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
footer > .container > h1{
    color: #101520;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
@media (min-width: 1200px) and (max-width: 1400px){
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 74% 100%, 0% 100%);
        width: 170px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -61px;
    }
    header > .container > .containerItens > .itens{
        column-gap: 20px;
        row-gap: 10px;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 25px;
    }
    #linhaAzul{
        width: 60vw;
    }
    #linhaVermelha{
        width: 40vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 60vw;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 40vw;
        margin-top: 20px;
    }
    #logoCozifrio > img{
        margin-left: 40px;
        width: 134px;
        height: 108px;
    }
    #mindArtCreative > img{
        width: 126px;
        height: 108px;
    }
    #mindArtWeb > img{
        width: 126px;
        height: 93px;
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 10px 0 10px;
    }
    footer > .container > h1{
        font-size: 25px;
    }    
}
@media (min-width: 992px) and (max-width: 1199px){
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 74% 100%, 0% 100%);
        width: 170px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -61px;
    }
    header > .container > .containerItens > .itens{
        column-gap: 20px;
        padding: 10px;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 25px;
    }
    header > .container > a > h1{
        width: 254px;
        height: 53px;
        font-size: 22px;
    }
    #linhaAzul{
        width: 60vw;
    }
    #linhaVermelha{
        width: 40vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 60vw;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 40vw;
        margin-top: 20px;
    }
    #logoCozifrio > img{
        margin-left: 40px;
        width: 134px;
        height: 108px;
    }
    #mindArtCreative > img{
        width: 126px;
        height: 108px;
    }
    #mindArtWeb > img{
        width: 126px;
        height: 93px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 18px;
        height: 18px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 26px
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 10px 0 10px;
        font-size: 18px;
    }
    footer > .container > h1{
        font-size: 22px;
    }   
}
@media (min-width: 768px) and (max-width: 991px){
    header > .container > .containerFormas > .branco{
        clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
    }
    header > .container > .containerFormas > .branco > picture > img{
        margin-left: 10px;
    }
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0% 100%);
        width: 120px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -40px;
        width: 70px;
    }
    header > .container > .containerItens{
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 10px;
    }
    #botaoHamburguer{
        display: block;
        cursor: pointer;
        transition: 0.2s;
    }
    #botaoHamburguer:hover,
    #botaoHamburguer:active{
        transform: scale(1.08);
    }
    header > .container > .containerItens > .itens{
        column-gap: 0px;
        row-gap: 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 10px;
        display: none;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 22px;
    }
    header > .container > a{
        align-items: baseline;
        padding: 25px 20px 0 0;
    }
    header > .container > a > h1{
        width: 254px;
        height: 53px;
        font-size: 22px;
    }
    #linhaAzul{
        width: 60vw;
    }
    #linhaVermelha{
        width: 40vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 60vw;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 40vw;
        row-gap: 10px;
        margin: 10px 0 0 0;
    }
    #logoCozifrio > img{
        margin-left: 20px;
        width: 107px;
        height: 87px;
    }
    #mindArtCreative > img{
        width: 101px;
        height: 86px;
    }
    #mindArtWeb > img{
        width: 101px;
        height: 74px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 18px;
        height: 18px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 26px
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 10px 0 10px;
        font-size: 16px;
    }
    footer > .container > h1{
        font-size: 22px;
    }   
}
@media (min-width: 576px) and ( max-width: 767px){
    header > .container > .containerFormas > .branco{
        clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
    }
    header > .container > .containerFormas > .branco > picture > img{
        margin-left: 10px;
    }
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0% 100%);
        width: 120px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -40px;
        width: 70px;
    }
    header > .container > .containerItens{
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 10px;
    }
    #botaoHamburguer{
        display: block;
        cursor: pointer;
        transition: 0.2s;
    }
    #botaoHamburguer:hover,
    #botaoHamburguer:active{
        transform: scale(1.08);
    }
    header > .container > .containerItens > .itens{
        column-gap: 0px;
        row-gap: 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 10px;
        display: none;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 22px;
    }
    header > .container > a{
        align-items: baseline;
        display: none;
    }
    #linhaAzul{
        width: 60vw;
    }
    #linhaVermelha{
        width: 40vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 60vw;
        column-gap: 8px;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 40vw;
        row-gap: 10px;
        margin: 10px 0 0 0;
    }
    #logoCozifrio > img{
        margin-left: 10px;
        width: 96px;
        height: 78px;
    }
    #mindArtCreative > img{
        width: 91px;
        height: 77px;
    }
    #mindArtWeb > img{
        width: 91px;
        height: 67px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 18px;
        height: 18px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 26px
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 10px 0 10px;
        font-size: 16px;
    }
    footer > .container > h1{
        font-size: 22px;
    }
}
@media (min-width: 420px) and (max-width: 575px){
    header > .container{
        flex-direction: column;
    }
    header > .container > .containerFormas{
        flex: 0;
    }
    header > .container > .containerFormas > .branco{
        clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
    }
    header > .container > .containerFormas > .branco > picture > img{
        margin-left: 10px;
    }
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0% 100%);
        width: 120px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -40px;
        width: 70px;
    }
    header > .container > .containerItens{
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 10px;
        flex: 0;
    }
    #botaoHamburguer{
        display: block;
        cursor: pointer;
        transition: 0.2s;
    }
    #botaoHamburguer:hover,
    #botaoHamburguer:active{
        transform: scale(1.08);
    }
    header > .container > .containerItens > .itens{
        column-gap: 0px;
        row-gap: 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 10px;
        display: none;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 22px;
    }
    header > .container > a{
        align-items: baseline;
        padding: 25px 20px 0 0;
        display: none;
    }
    header > .container > a > h1{
        width: 254px;
        height: 53px;
        font-size: 22px;
    }
    #linhaAzul{
        width: 55vw;
    }
    #linhaVermelha{
        width: 45vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 55vw;
        column-gap: 8px;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 45vw;
        row-gap: 10px;
        margin: 10px 0 0 0;
    }
    #logoCozifrio > img{
        margin-left: 20px;
        width: 77px;
        height: 62px;
    }
    #mindArtCreative > img{
        display: none;
    }
    #mindArtWeb > img{
        width: 72px;
        height: 53px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 14px;
        height: 14px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 18px
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 10px 0 0;
        font-size: 14px;
    }
    footer > .container > h1{
        font-size: 16px;
    }
}
@media (min-width: 320px) and (max-width: 419px){
    header > .container{
        flex-direction: column;
    }
    header > .container > .containerFormas{
        flex: 0;
    }
    header > .container > .containerFormas > .branco{
        clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
        width: 110px;
        height: 91px;
    }
    header > .container > .containerFormas > .branco > picture > img{
        margin-left: 8px;
        width: 80px;
        height: 66px;
    }
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0% 100%);
        width: 120px;
        height: 90px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -40px;
        width: 70px;
        height: 90px;
    }
    header > .container > .containerItens{
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 10px;
        flex: 0;
    }
    #botaoHamburguer{
        display: block;
        cursor: pointer;
        transition: 0.2s;
    }
    #botaoHamburguer > .picture > img{
        width: 48px;
        height: 41px;
    }
    #botaoHamburguer:hover,
    #botaoHamburguer:active{
        transform: scale(1.08);
    }
    header > .container > .containerItens > .itens{
        column-gap: 0px;
        row-gap: 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 10px;
        display: none;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 22px;
    }
    header > .container > a{
        align-items: baseline;
        padding: 25px 20px 0 0;
        display: none;
    }
    header > .container > a > h1{
        width: 254px;
        height: 53px;
        font-size: 22px;
    }
    #linhaAzul{
        width: 55vw;
    }
    #linhaVermelha{
        width: 45vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 55vw;
        column-gap: 4px;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 45vw;
        row-gap: 10px;
        margin: 10px 0 0 0;
    }
    #logoCozifrio > img{
        margin-left: 5px;
        width: 69px;
        height: 56px;
    }
    #mindArtCreative > img{
        display: none;
    }
    #mindArtWeb > img{
        width: 65px;
        height: 48px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 12px;
        height: 12px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 17px
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 5px 0 0;
        font-size: 14px;
    }
    footer > .container > h1{
        font-size: 16px;
    }
}
@media (max-width: 319px){
    header > .container{
        flex-direction: column;
    }
    header > .container > .containerFormas{
        flex: 0;
    }
    header > .container > .containerFormas > .branco{
        clip-path: polygon(0 0, 98% 0, 80% 100%, 0% 100%);
        width: 110px;
        height: 91px;
    }
    header > .container > .containerFormas > .branco > picture > img{
        margin-left: 8px;
        width: 80px;
        height: 66px;
    }
    header > .container > .containerFormas > .azul{
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0% 100%);
        width: 120px;
        height: 90px;
    }
    header > .container > .containerFormas > .vermelho{
        margin-left: -40px;
        width: 70px;
        height: 90px;
    }
    header > .container > .containerItens{
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 10px;
        flex: 0;
    }
    #botaoHamburguer{
        display: block;
        cursor: pointer;
        transition: 0.2s;
    }
    #botaoHamburguer > .picture > img{
        width: 48px;
        height: 41px;
    }
    #botaoHamburguer:hover,
    #botaoHamburguer:active{
        transform: scale(1.08);
    }
    header > .container > .containerItens > .itens{
        column-gap: 0px;
        row-gap: 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 10px;
        display: none;
    }
    header > .container > .containerItens > .itens > li > a > h2{
        font-size: 22px;
    }
    header > .container > a{
        align-items: baseline;
        padding: 25px 20px 0 0;
        display: none;
    }
    header > .container > a > h1{
        width: 254px;
        height: 53px;
        font-size: 22px;
    }
    #linhaAzul{
        width: 55vw;
    }
    #linhaVermelha{
        width: 45vw;
    }
    footer > .container > .parteBaixo > .parteEsquerda{
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        width: 55vw;
        column-gap: 2px;
    }
    footer > .container > .parteBaixo > .parteDireita{
        width: 45vw;
        row-gap: 10px;
        margin: 10px 0 0 0;
    }
    #logoCozifrio > img{
        margin-left: 5px;
        width: 62px;
        height: 50px;
    }
    #mindArtCreative > img{
        display: none;
    }
    #mindArtWeb > img{
        width: 58px;
        height: 43px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > picture > img{
        width: 12px;
        height: 12px;
    }
    footer > .container > .parteBaixo > .parteDireita > .cozifrio > h2{
        font-size: 17px;
        text-align: center;
    }
    footer > .container > .parteBaixo > .parteDireita > h2{
        margin: 0 5px 0 0;
        font-size: 14px;
    }
    footer > .container > h1{
        font-size: 16px;
    }
}  