main{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}
main > .banner{
    width: 100%;
    height: 380px;
    background-color: #101520;
    background-image: url(./img/backgroundBannerServicos.webp);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main > .banner > h1{
    color: #E6E6E6;
    font-family: 'League Gothic', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}
main > .banner > .sub{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 80px;
}
main > .banner > .sub > hr{
    width: 30px;
    height: 2px;
    border: 0;
    background-color: white;
    margin: 0;
}
main > .banner > .sub > h2{
    color: #E6E6E6;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main > .titulo{
    display: flex;
    flex-direction: column;
}
main > .titulo > .azul,
main > .titulo > .vermelho{
    width: 570px;
    height: 105px;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}
main > .titulo > .azul{
    background-color: #081331;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
main > .titulo > .azul > h1{
    color: #E6E6E6;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
}
main > .titulo > .vermelho{
    background-color: #911D0E;
    margin: -90px 0 0 -30px;

}
main > .containerCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 98vw;
    margin-bottom: 10px;
}
main > .containerCards > .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    background-color: #D9D9D9;
    width: 600px;
    height: 470px;
    box-shadow: 0px 6px 4.5px 0px rgba(0, 0, 0, 0.25);
}
main > .containerCards > .card > .informacoes{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    background-color: #081331;
    background-image: url(./img/backgroundCardServicos.webp);
    background-repeat: no-repeat;
    background-size: auto 100%;
    justify-content: space-evenly;
}
main > .containerCards > .card > .informacoes > h2{
    width: 55%;
    color: #E6E6E6;
    text-align: center;
    font-family: League Gothic;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#valvula > img{
    width: 123px;
    height: 288px;
}
#caldeirao > img{
    width: 263px;
    height: 276px;
}
#kit > img{
    width: 236px;
    height: 258px;
}
#manometro > img{
    width: 206px;
    height: 230px;
}
main > .containerCards > .card > a{
    display: flex;
}
main > .containerCards > .card > a > h2{
    color: #D9D9D9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.51%; /* 42.878px */
    letter-spacing: -2.45px;
    background-color: #911D0E;
    padding: 20px 110px 20px 110px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    transition: 0.3s;
}
main > .containerCards > .card > a > h2:hover,
main > .containerCards > .card > a > h2:active{
    transform: scale(1.05);
    background-color: #9b1706;
}
/* @media (min-width: 1200px) and (max-width: 1400px){

} */
@media (min-width: 992px) and (max-width: 1199px){
    main > .banner > h1{
        font-size: 60px;
        margin-left: 20px;
    }
    main > .banner > .sub{
        margin-left: 30px;
        column-gap: 15px;
    }
    main > .banner > .sub > h2{
        font-size: 15px;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 500px;
        height: 100px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 75px;
    }
    main > .titulo > .vermelho{
        margin: -90px 0 0 -25px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    main > .banner{
        height: 300px;
        background-image: none;
        align-items: center;
        row-gap: 20px;
    }
    main > .banner > h1{
        font-size: 55px;
        margin-left: 0;
    }
    main > .banner > .sub{
        margin-left: 0;
        column-gap: 15px;
    }
    main > .banner > .sub > h2{
        font-size: 15px;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 450px;
        height: 90px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 65px;
    }
    main > .titulo > .vermelho{
        margin: -82px 0 0 -20px;
    }
}
@media (min-width: 576px) and ( max-width: 767px){
    main{
        row-gap: 40px;
    }
    main > .banner{
        height: 300px;
        background-image: none;
        align-items: center;
        row-gap: 20px;
    }
    main > .banner > h1{
        font-size: 43px;
        margin-left: 0;
    }
    main > .banner > .sub{
        margin-left: 0;
        column-gap: 15px;
    }
    main > .banner > .sub > hr{
        display: none;
    }
    main > .banner > .sub > h2{
        font-size: 15px;
        text-align: center;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 400px;
        height: 70px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 55px;
    }
    main > .titulo > .vermelho{
        margin: -82px 0 0 -10px;
    }
    main > .containerCards > .card{
        width: 534px;
        height: 380px;
    }
    main > .containerCards > .card > .informacoes > h2{
        font-size: 44px;
    }
    #valvula > img{
        width: 110px;
        height: 259px;
    }
    #caldeirao > img{
        width: 236px;
        height: 248px;
    }
    #kit > img{
        width: 212px;
        height: 232px;
    }
    #manometro > img{
        width: 185px;
        height: 207px;
    }
    main > .containerCards > .card > a > h2{
        font-size: 30px;
        padding: 15px 100px 15px 100px;
    }
}
@media (min-width: 420px) and (max-width: 575px){
    main{
        row-gap: 40px;
    }
    main > .banner{
        display: none;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 400px;
        height: 70px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 55px;
    }
    main > .titulo > .vermelho{
        margin: -82px 0 0 -10px;
    }
    main > .containerCards > .card{
        width: 480px;
        height: 380px;
    }
    main > .containerCards > .card > .informacoes > h2{
        font-size: 35px;
    }
    #valvula > img{
        width: 99px;
        height: 233px;
    }
    #caldeirao > img{
        width: 213px;
        height: 223px;
    }
    #kit > img{
        width: 191px;
        height: 209px;
    }
    #manometro > img{
        width: 166px;
        height: 186px;
    }
    main > .containerCards > .card > a > h2{
        font-size: 30px;
        padding: 15px 100px 15px 100px;
    }
}
@media (min-width: 320px) and (max-width: 419px){
    main{
        row-gap: 40px;
    }
    main > .banner{
        display: none;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 280px;
        height: 60px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 45px;
    }
    main > .titulo > .vermelho{
        margin: -65px 0 0 -5px;
    }
    main > .containerCards > .card{
        width: 480px;
        height: 380px;
    }
    main > .containerCards > .card > .informacoes > h2{
        font-size: 30px;
    }
    #valvula > img{
        width: 89px;
        height: 209px;
    }
    #caldeirao > img{
        width: 191px;
        height: 201px;
    }
    #kit > img{
        width: 171px;
        height: 188px;
    }
    #manometro > img{
        width: 150px;
        height: 167px;
    }
    main > .containerCards > .card > a > h2{
        font-size: 25px;
        padding: 15px 60px 15px 60px;
    }
}
@media (max-width: 319px){
    main{
        row-gap: 40px;
    }
    main > .banner{
        display: none;
    }
    main > .titulo > .azul,
    main > .titulo > .vermelho{
        width: 280px;
        height: 60px;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }
    main > .titulo > .azul > h1{
        font-size: 45px;
    }
    main > .titulo > .vermelho{
        margin: -65px 0 0 -5px;
    }
    main > .containerCards > .card{
        width: 480px;
        height: 380px;
    }
    main > .containerCards > .card > .informacoes > h2{
        font-size: 30px;
    }
    #valvula > img{
        width: 80px;
        height: 189px;
    }
    #caldeirao > img{
        width: 172px;
        height: 181px;
    }
    #kit > img{
        width: 154px;
        height: 169px;
    }
    #manometro > img{
        width: 135px;
        height: 151px;
    }
    main > .containerCards > .card > a > h2{
        font-size: 25px;
        padding: 15px 60px 15px 60px;
    }
}